<form class="register-form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()">
  <div class="form-group" [ngClass]="{'has-danger': submitted && !registerForm.controls['username'].valid}">
    <label for="username">Name</label>
    <input type="text"
           formControlName="username"
           id="username"
           class="form-control">
    <div class="form-control-feedback"
         *ngIf="submitted && !registerForm.controls['username'].valid">Name is required</div>
  </div>
  <div class="form-group" [ngClass]="{'has-danger': submitted && !registerForm.controls['login'].valid}">
    <label for="login">Login</label>
    <input type="text"
           formControlName="login"
           id="login"
           class="form-control">
    <div class="form-control-feedback"
         *ngIf="submitted && !registerForm.controls['login'].valid">Login is required</div>
  </div>
  <div class="form-group" [ngClass]="{'has-danger': submitted && !registerForm.controls['email'].valid}">
    <label for="email">E-mail</label>
    <input type="email"
           formControlName="email"
           id="email"
           class="form-control form-control-danger">
    <div class="form-control-feedback"
            *ngIf="submitted && !registerForm.controls['email'].valid">Wrong email</div>
  </div>
  <div class="form-group" [ngClass]="{'has-danger': submitted && !registerForm.controls['password'].valid}">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           formControlName="password"
           id="password">
    <div class="form-control-feedback"
         *ngIf="submitted && !registerForm.controls['password'].valid">Password can't be less then 4 letters</div>
  </div>
  <div class="form-group" [ngClass]="{'has-danger': submitted && !registerForm.controls['rpassword'].valid}">
    <label for="rpassword">Repeat password</label>
    <input type="password"
           class="form-control"
           formControlName="rpassword"
           id="rpassword">
    <div class="form-control-feedback"
         *ngIf="submitted && !registerForm.controls['rpassword'].valid">Passwords not match</div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> <span class="loading" *ngIf="loading"><img src="assets/img/loading.gif" alt="loading..."></span>
</form>
